body,button,input,select,textarea,h1,h2,h3,h4,h5,h6{font-family:Microsoft YaHei,'宋体',Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;}
body{padding-top:70px;}
#brand{font-size:26px;color:#fff;}
.navbar-header img{margin-top:-4px;}
.navbar a{font-size:16px;}
#bottom{border-top:2px solid #e5e5e5;margin-top: 20px;}
#bottom p{text-align:center;line-height:40px;margin:5px 0;}
#localImag{display:none;}
.help-inline{display:none;color:#a94442;}
#num{display:block;}
#textarea{overflow-y:scroll;resize:none;}
#yzm-img{width: 70px;height: 32px;cursor: pointer;}
.yzm-img-click{line-height: 34px;}