body,button,input,select,textarea,h1,h2,h3,h4,h5,h6{font-family:Microsoft YaHei,'宋体',Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;}
body{padding-top:70px;}
#brand{font-size:26px;color:#fff;}
.navbar-header img{margin-top:-4px;}
.navbar a{font-size:16px;}
.jumbotron{position:relative;background:none;overflow:hidden;}
.jumbotron h1{color:#428bca;}
#bg{width:100%;height:100%;position:absolute;z-index:-1;left:0;top:0;}
#bottom{border-top:2px solid #e5e5e5;margin-top: 20px;}
#bottom p{text-align:center;line-height:40px;margin:5px 0;}
.panel-info>.panel-heading{background-color:#5bc0de;color:#fff;}
.panel-body h3{line-height:33px;text-align:center;}
.panel-body span{font-size:42px;color:#5bc0de;}
.media{border-bottom:1px solid #ccc;padding-bottom:18px;}
.media:last-child{border:none;}
.media-body{font-size:15px;}
.thumbnail{margin-top:8px;}
h4.media-heading{font-weight:lighter;color:#333;}
.affix{top:70px;}
.next a{margin-left:10px;}
.center {width: auto;display: table;margin-left: auto;margin-right: auto;}